* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #c0d8e0;
  width: 50vw;
  height: 25vh;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  background-color: #e5ebea;
  border: 0;
}
